body {
    background-color: cadetblue;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.all-box {
    width: 50%;
    height: 600px;
    border: black solid thin;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 20px 10px black, 15px 15px 15px 15px burlywood;
    text-align: center;
    background-color: azure;
}

h1 {
  width:75%;
  margin-left: 10%;
    padding-top: 5%;
    font-size: 56px;
    color: black;
    text-shadow: 2px 2px burlywood;
}

.page-btns {
    font-size: 32px;
    width: 200px;
    height: 60px;
    text-align: center;
    border: black thin solid;
    box-shadow: 0 2px 2px 2px black;
    margin-top: 2%;

}

h2 {
  color: black;
  font-size: 32px;
}

#rule-list {
    text-align: left;
    font-size: 18px;
    padding-left:5%;
}

#start-btn {
    margin-top:3%;
    width: 30%;
    font-size: 26px;
}

header {
    font-size: 50px;
    padding-top: 1%;
    text-decoration-line: underline;
    text-shadow: 2px 2px burlywood;
}

#quiz {
    width: 90%;
    height: 350px;
    margin:auto;
    margin-top:3%;
}

#time-score-container {
    display: flex;
    width: 100%;
    margin-top: -3%;
}

h3 {
    width: 33%;
    font-size: 24px;
    color:darkblue;
}
span label {
    display: grid;
    width: 70%;
    padding: 0.5%;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    font-size: 30px;
    color: black;
    margin: 0 0 1% 15%;
    cursor: pointer;
    font-weight:600;
    background: darkgray;
}

#option-one-label {
    margin-top: -2%;
}

#next-btn {
    width: 250px;
}
#result-box {
    width: 100%;
}
#results {
    display: inline-block;
    width: 50%;
    font-size: 36px;
}

.result-text {
    width: 50%;
}

#rqbuttons {
    margin: 10%;
}

span label:hover{
    -ms-transform: scale(1.12);
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
    color: white;
}

input[type="radio"] {
    position: relative;
    display: none;
}


input[type=radio]:checked ~ .option {
    background: paleturquoise;
}